<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Trader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Trader.Properties.Settings>
            <setting name="Network" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverloadRetry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverloadRetryAttempts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BOTstartQty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>apokaracha</value>
            </setting>
            <setting name="secret" serializeAs="String">
                <value>goshko</value>
            </setting>
            <setting name="domain" serializeAs="String">
                <value>https://www.bitmex.com</value>
            </setting>
            <setting name="socketDomain" serializeAs="String">
                <value>wss://www.bitmex.com/realtime</value>
            </setting>
            <setting name="order1Price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order7Price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order2Percent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order3Percent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order4Percent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order5Percent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order6Percent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order8Percent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order9Percent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order10Percent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order11Percent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order12Percent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order2Quantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order3Quantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order4Quantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order5Quantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order6Quantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order8Quantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order9Quantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order10Quantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order11Quantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order12Quantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Trader.Properties.Settings>
    </userSettings>
</configuration>